#mainNav {
  background-color: fade-out($primary, 0.1);
  @include heading-font;
  .navbar-brand {
    color: $secondary;
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        color: fade-out($white, 0.1);

        font-weight: 800;
      }
      &.active {
        .nav-link {
          color: $secondary;
        }
      }
    }
  }
  @media (max-width: 460px) {
    .navbar-brand{
      font-size: 0.1em;
    }
  }
  @media (min-width: 992px) {
    .navbar-nav {
      .nav-item {
        .nav-link {
          font-size: 0.9rem;
          &:hover {
            color: fade-out($white, 0.1);
          }
        }
        &.active {
          .nav-link:hover {
            color: $secondary;
          }
        }
      }
    }
  }
}
